@model MVC.Models.User

<div class="card">
    <div class="card-body">
        <div class="image mb-2">
            <img class="rounded-circle" width="150" src="@Model.Image" alt="@Html.DisplayNameFor(model => model.Image)">
        </div>
        <div class="h5">@Model.FullName</div>
        <div >
            <span class="h7 text-muted">@@@Model.UserName</span>
            <button class="btn btn-primary btn-sm ml-3" type="button">Follow</button>
        </div>
        <div class="h7">
            @Model.Biography
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">@Html.DisplayNameFor(model => model.FollowersCount)</div>
            <div class="h5">@Model.FollowersCount</div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">@Html.DisplayNameFor(model => model.FollowingCount)</div>
            <div class="h5">@Model.FollowingCount</div>
        </li>
    </ul>
</div>